.field
{
	clear: both; 
	text-align: right;
	line-height: 25px;
	margin: 10px;
}
label 
{
	float: left;
	padding-right: 10px;
}
.main 
{
	float: left;
	font: normal 14px Arial, Helvetica, sans-serif;
}
.textfield
{
	padding: 3px; 
	border-style: solid; 
	border-color: #000569; 
	border-radius: 3px; 
	background-color: #e1eef4; 
	border-width: 1px; 
	font-size: 14px;  
} 
.textfield:focus 
{ 
	outline: none; 
} 